---
import {useTranslations} from "../i18n/utils";
import Container from "../layouts/Container.astro";
import {Image} from 'astro:assets';
import ImageOfMe from '../images/me.jpg';
import Flex from "../layouts/Flex.astro";
import {StyleSPEnum} from "../styles/enums/sp.enum";
import Title from "../layouts/Title.astro";
import {StyleFlexDirectionEnum} from "../styles/enums/flex-direction.enum";
import Spacer from "../layouts/Spacer.astro";
import Text from "../layouts/Text.astro";
import {StyleFSEnum} from "../styles/enums/fs.enum";
import MapMarker from '../icons/map-marker.svg';
import {StyleAlignItemsEnum} from "../styles/enums/align-items.enum";
import Box from "../layouts/Box.astro";
import P from "../layouts/P.astro";
const {t} = useTranslations(Astro.url);
---

<header>
    <Container pt pb>
        <Flex direction={StyleFlexDirectionEnum.ROW} alignItems={StyleAlignItemsEnum.CENTER} gap={StyleSPEnum.SP64}>
            <Image src={ImageOfMe} alt={t('header.imageAlt')} loading="eagle"/>
            <Flex direction={StyleFlexDirectionEnum.COLUMN}>
                <Title size="h1">
                    Jaime Gómez Cimarro
                </Title>
                <Spacer size={StyleSPEnum.SP16}/>
                <Flex direction={StyleFlexDirectionEnum.ROW}>
                    <Text as="h2" fontSize={StyleFSEnum.FS32}>
                        {t('header.fullstack')}
                    </Text>
                    <Box pl={StyleSPEnum.SP16} pr={StyleSPEnum.SP16}>
                        <Image style={{color: 'pink'}} width="30" src={MapMarker} alt={t('header.mapMarker')} loading="eagle"/>
                    </Box>
                    <Text as="h2" fontSize={StyleFSEnum.FS32}>
                        {t('header.location')}
                    </Text>
                </Flex>
                <Text>
                    <P>
                        Durante los últimos 8 años, me he dedicado apasionadamente al desarrollo de software, explorando
                        diversas tecnologías y manteniéndome al día con las tendencias del sector. Mi viaje comenzó con
                        la
                        obtención de un título en grado medio y superior, donde adquirí habilidades en HTML, CSS y
                        JavaScript para el desarrollo frontend, y Java con Oracle para bases de datos. Desde entonces,
                        he
                        experimentado una evolución significativa en mi trayectoria profesional.
                    </P>
                    <P>
                        Inicié mi carrera laboral como programador PHP con MySQL, utilizando WordPress como plataforma,
                        sin
                        tener experiencia previa en el lenguaje. Posteriormente, mi curiosidad me llevó a adentrarme en
                        el
                        mundo de los frameworks, donde trabajé con Angular 1 y más tarde con Angular 2+, para el
                        desarrollo frontend y utilizando Node.js junto con MongoDB para el backend.
                    </P>
                    <P>
                        Con el tiempo, mi enfoque se ha desplazado hacia tecnologías más modernas, y en la actualidad,
                        me
                        encuentro inmerso en proyectos que emplean React para el frontend y Node.js con MongoDB o MySQL
                        para
                        el backend. Este recorrido diverso me ha proporcionado una amplia experiencia y habilidades
                        técnicas
                        que me han permitido adaptarme con éxito a las demandas cambiantes del campo del desarrollo de
                        software.
                    </P>
                    <P>
                        Si estás interesado en conocer más detalles sobre las tecnologias con las que he trabajado, mas
                        abajo
                        puedes ver los proyectos con las tecnologías que he utilizado.
                    </P>
                </Text>
            </Flex>
        </Flex>
    </Container>
</header>

<style lang="scss">
  @import "../styles/vars";

  header {
    background-color: $headerBg;
  }

  img {
    max-width: 340px;
    max-height: 447px;
  }
</style>