---
import {useTranslations} from "../i18n/utils";
interface Props {
    title: string;
}

const {title} = Astro.props;
const {locale} = useTranslations(Astro.url);
---

<!doctype html>
<html lang={locale}>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>
<style lang="scss" is:global>
  @import "../styles/vars";

  html {
    font-family: "Poppins", system-ui, sans-serif;
  }

  body {
    overflow-x: hidden;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul[role='list'], ol[role='list'] {
    list-style: none;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img, picture, svg, video, canvas {
    max-width: 100%;
    height: auto;
    font-style: italic;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
  }

  input, button, textarea, select {
    font: inherit;
  }

  body, html {
    height: 100%;
    scroll-behavior: smooth;
  }

  p {
    margin-bottom: $sp8;
  }
</style>
